@media screen and (max-width: 550px) {
    header {
        flex-direction: column;
    }
}

* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 16px;
    background-color: #85dcb0;
}

header {
    background-color: #E8A87C;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header h1 {
    margin: auto;
    font-size: 2em;
    
}

header ul {
    display:flex;
}

header li {
    margin: 1em;
    list-style: none;
}

h2 {
    font-size: 1.5em;
    background-color: #C38D9E;
    padding: 0.5em;
}

section div img {
    max-width: 100%;
    height: auto;
}

#skills div i {
    font-size: 3em;
    margin: 0 auto;
}

.project_details {
    display: none;
}